body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "맑은 고딕","Malgun Gothic", sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.hover {
    background-color:#EBFBFD;
}

input.error,textarea.error {
	border: 1px dashed red;
}

label.error {
	margin-left: 5px;
	color: red;
	width: auto;
	display: inline;
}


/* 하단에 뿌려주려면 
input.error, textarea.error{
  border:1px dashed red;
}
label.error{
  display:block;
  color:red;
}
*/

/*
.input01 {
	height:16px;   
	font-weight:normal; 
	font-size:12px; 
	color:#828282; 
	border:0px solid #8e9daa; 
	background-color:#fcfcfc; 
	padding:3px 2px 0 2px; 
	vertical-align:middle;
}
*/

.input01 {
	width:100%;
}

.textarea01 {
	width:99%;   
	font-weight:normal; 
	font-size: 12px; 
	color:#828282; 
	border:0px solid #8e9daa; 
	background-color:#fcfcfc; 
	vertical-align:middle; 
	padding:5px; 
	line-height:18px;
}

